@tailwind base;
@tailwind components;
@tailwind utilities;

/* استایل اسکرول‌بار */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}